
<center><h1>Prevention</h1></center>
<br>
<div class="row-fluid">
  <div class="span4">
    <center>
    <iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDKe_CIPyAfRnFGMfFO80-rgF_JpM_1uLQ
    &q=e-waste+recycling+in+miami">
</iframe>
  </center>
    <h3>Map of E-waste Recycling Centers in Miami.</h3>
  </div>
  <div class="span8">
    <p> E-waste can be prevented from further polluting the environment. The most effective and
  common solution is recycling many products such as phones, tvs ,and computer components. Many of
  these electronics can be reverted to their raw material form, Which can include materials such as
   lead, copper, and gold. Other than helping the environment, recycling is also a good way to
  reduce enviormental harm caused by mining, recycling also provides extra jobs.</p>
  <p>  Although recycling does bring many benefits, it has low efficiency. To counteract this,
  countries have launched consumer awareness acts to inform people about the harmful efects of ewaste
  and why they should not throw away used electronics but reuse and recycle them. Many countries have specialized
  settlements of people dedicated to recycling E-Waste,plenty of which are almost inhospitable to their inhabitants.
  This is because of underfunding and lack of proper disposal of toxic material,
  which can cause growth abnormalities and illness.All these problems can be avoided simply by reducing, reusing, and recycling
  production of E-Waste.</p>
  </div>
  </div>
