
<center><h1>Causes</h1>
<p>
The production of E-Waste is mostly due to the technological
advancements, made daily with new phones, computers, etc.
This mean that people can buy a product and have a newer version within a week.
furthermore another leading cause of E-Waste is mistreatment of electronics.
This makes the lifespan of a electronic device very short and the need for a new one very fast.
An example of this is covering the holes used for air flow on a laptop causing the laptop to overheat,
which in turn cause the parts in the system to either break or get damaged.
This will cause u to buy a new laptop and the old one will become part of some random landfill.</p>
</center>
<div class="inline">
<img src="http://dailyinfographic.com/wp-content/uploads/2013/07/nhr_e-waste_infographic2.png" height="800px" width = 500>
<img src="http://www.electronicstakeback.com/wp-content/uploads/ewaste-stats-20121.jpg">
<div>