
<h3>What is E-Waste</h3>
<dl class="dl-horizontal">
  <dt>Introduction</dt>
  <dd><p> With many technological advancements many problems have been arising. Yet some
    of our most mundane problems have to be solved. And no its not teens crying over not
    getting the new iphone. This problem that we have yet to solve is the accumulation of E-Waste. E-Waste is made of
    scraps and pieces of electronics such as computers, phones, TVs, and other electronics.
    E-Trash can is very harmful to the environment and the animals
    living in it. </p></dd>
  <dt>Ideas and Problems</dt>
  <dd><p> There are many causes, ideas, and problems in the accumulation of E-Waste. These are some
    of the major causes, ideas, and problems tied to E-Waste.
  </p><dd>
  <style>

  </style>
  <body>
  <ul class="a">
    <li>Pollution due to E-Waste</li>
    <li>Technological advancement</li>
    <li>Impact of E-Waste</li>
    <li>Disposal of E-Waste</li>
    <li>Cause of E-Waste</li>
    <li>Prevention of E-Waste accumulation</li>
  </ul>
</dl>

<img src="http://www.atterobay.com/blogs/wp-content/uploads/2013/02/e-waste.jpg">
<img src="http://www.r2giant.com/images/UI/interior/r2-certified-e-waste-recycling.jpg">
<center><h1> Welcome <h1><center>
  <p>&nbsp;
<center><a href="../coment/index"><button type="button" class="btn btn-info">Comment</button></a></center>
  <p>&nbsp;
<div class="span-9"></div>
</body>



