
<center><h1>Projects</h1></center>
<center><div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://s23.postimg.org/4zjvd8x57/rsz_98c69fb82f8dfb6d1f9f028ffbe6c344.jpg" alt="...">
      <div class="carousel-caption">
          <h2>Christmas tree made out of circuit boards</h2>
      </div>
    </div>
    <div class="item">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/64/8d/14/648d1431de92659c9d721914348b496e.jpg" alt="...">
  <div class="carousel-caption">
    <h3>Rubik's cube made from a keyboard</h2>
  </div>
</div>
<div class="item">
<img src="http://i.imgur.com/BGRmKSK.jpg?1" alt="...">
  <div class="carousel-caption">
    <h2>Fish made from a car's rim and other parts</h2>
  </div>
</div>
    
    <div class="item">
<img src="http://i.imgur.com/KydeClJ.jpg?1" alt="...">
  <div class="carousel-caption">
    <h2>Amazing tower made of E-waste</h2>
  </div>
</div>
    
    <div class="item">
<img src="http://3.bp.blogspot.com/-QzG5zNcdfxo/UblNWSlzryI/AAAAAAAACuE/5QOYMNt_TFI/s1600/cd-spindle-artistic-chair.jpg" alt="...">
  <div class="carousel-caption">
    <h2>Chair made of old cds</h2>
  </div>
</div>
    
    <div class="item">
<img src="http://i.imgur.com/AVxfHwt.jpg?1" alt="...">
  <div class="carousel-caption">
    <h2>Statue of a man made from old phones</h2>
  </div>
</div>
    Slideshow of projects made with E-waste
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <p>These are just some of the things that can be made with E-waste. If all of us put our heads together
  we can help reduce and maybe even revert the damage caused by E-waste.</p><p>E-waste can inspire art, science,
   new technology, architecture, music, etc. So I challenge you to make a project out of E-waste and post it
  around the internet because I can show you the path to stop E-waste but only can follow it.</p>
</center>