<!DOCTYPE html>
<html>
<head>
  <title>E-Waste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/robinweatherall/recycling/16/recycle-2-icon.png">
  
<style>
p.ex1 {
    margin-right: 20cm;
}
</style>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<br>

<div class="span7 text-left">
<div class="container">

<div class="container">
<div class="span7 text-center">

<a href="/welcome/index"><button class="btn btn-success btn-xl"><h4>Home</h4></button></a>
<a href="/dangers/index"><button class="btn btn-success btn-xl"><h4>Dangers</h4></button></a>
<a href="/causes/index"><button class="btn btn-success btn-xl"><h4>Causes</h4></button></a>
<a href="/prevention/index"><button class="btn btn-success btn-xl"><h4>Prevention</h4></button></a>
<a href="/projects/index"><button class="btn btn-success btn-xl"><h4>Projects</h4></button></a>
<a href="/impact/index"><button class="btn btn-success btn-xl"><h4>Impact</h4></button></a>
</div>
</div>

</div>
</div>

<%= yield %>

</body>
</html>
