<!DOCTYPE html>
<html>
<head>
  <title>E-Waste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/robinweatherall/recycling/16/recycle-2-icon.png">
  
<style>
p.ex1 {
    margin-right: 26cm;
	font-size: 15pt;
}
</style>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<br>


<%= yield %>

</body>
</html>
