<!DOCTYPE html>
<html>
<head>
  <title>Tsa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<p class="text-success"><h1>Welcome.</h1></p>

<%= yield %>

<div class="container"><p class="bg-success"><button class="btn btn-success btn-xl"><h4>Home</h4></button></p><p class="bg-success"><button class="btn btn-success btn-xl"><h4>The Dangers</h4></button></p><p class="bg-success"><button class="btn btn-success btn-xl"><h4>How to Prevent it</h4></button></p></div>
</body>
</html>
