<!DOCTYPE html>
<html>
<head>
  <title>E-Waste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/robinweatherall/recycling/16/recycle-2-icon.png">
  
<style>
p.ex1 {
    margin-right: 26cm;
	font-size: 15pt;
}
</style>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<br>

<div class="span7 text-left">
<div class="container">

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/welcome/index" class="navbar-brand">E-Waste</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/dangers/index">Dangers</a>
        </li>
        <li>
          <a href="/causes/index">Causes</a>
        </li>
        <li>
          <a href="/prevention/index">Prevention</a>
        </li>
        <li>
          <a href="/projects/index">Projects</a>
        </li>
        <li>
          <a href="/impact/index">Impact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
