
<center><h1>Danger</h1></center>
<center>
<p>  E-Waste brings inevitable problems and dangers. Due to the production of E-Waste, many
negative repercussions have occurred to the environment, which  range
from the release of deadly carcinogen to the pollution of both animal and human environments.</p>
<p>  The pollution due to E-Waste has caused landfills to fill up quickly, and when E-Waste
is dispose of incorrectly it can pollute surrounding areas with toxic and harmful materials such
as Americium, Mercury, Sulphur, Cadmium, lead, etc. These materials can cause a rise in airborne
dioxins, carcinogens in sources of water,  food, etc.
All of these can harm and or kill  wildlife and humans. And cause medical conditions such as weaking of joints.
</p>
<p>  Due to the contaminants produced many control villages which recycle E-Waste, they have
almost 300 times more heavy metals in road dust and high levels of material used in making
electronics. this in turn makes a very unhealthy environment which its inhabitants and near by
cities have contaminated sources of drinking water. In addition many sources of food such as fish or vegetable
 are killed by chemicals and other byproducts such as hydrogen peroxide and mercury.
</p>
</center>