
<center><h1>Dangers</h1></center>
<p>&nbsp;
<center><a href="../coment/index"><button type="button" class="btn btn-info">Comment</button></a></center>
<p>&nbsp;
<div class="row-fluid">
<div class="span12"></div>
</div>
</body>