<br>
<br>
<h1> Welcome To E-Waste.HerokuApp.com </h1>
<<<<<<< HEAD
<<<<<<< HEAD
<p> With many technological advancements many problems have been arising. Yet some 
of our most mundane problems have to be solved. And no its not teens crying over not
getting the new iphone. This mundane problem we yet to solve is E-Trash. E-Trash is 
scraps and pieces of electronics such as computers,phones,TVs and other electronics 
or parts of electronics.E-Trash can is very harmful to the environment and the animals 
living in it. </p>
=======
<p> With many technological advancements many problems have been arising. one of the 
=======
<p class="ex1"><p> With many technological advancements many problems have been arising. one of the 
>>>>>>> 1d2ce661d058db7db008d6f9b6164e94cd75cfff
biggest problems other than teen crying over not getting the new iphone is e-trash.
E-Trash is scraps and pieces of electronics such as computers,phones,TVs and other 
electronics or parts of electronics. </p>
>>>>>>> origin/master
