<br>
<br>
<br>
<br>
<h1> Welcome To E-Waste.HerokuApp.com </h1>
<p> With many technological advancements many problems have been arising. one of the biggest problems other than teen cring over not getting the new iphone is e-trash.</p>