<br>
<br>
<h3>E-Waste</h3>
<dl class="dl-horizontal">
<dt>Introduction</dt>
<dd><p> With many technological advancements many problems have been arising. Yet some
of our most mundane problems have to be solved. And no its not teens crying over not
getting the new iphone. This problem that we have yet to solve is the accumulation of E-Trash. E-Trash is made of
scraps and pieces of electronics such as computers, phones, TVs, and other electronics 
or parts of electronics.E-Trash can is very harmful to the environment and the animals 
living in it. </p></dd>
  <dt>Key ideas and problems</dt>
  <dd><p> There are many cause, ideas, and problems in the accumalation of E-Trash these are some
  of the major cuase
   </p><dd>
</dl>