<br>
<br>
<h1> Welcome To E-Waste.HerokuApp.com </h1>

<p class="ex1"> With many technological advancements many problems have been arising. one of the 
biggest problems other than teen crying over not getting the new iphone is e-trash.
E-Trash is scraps and pieces of electronics such as computers,phones,TVs and other 
electronics or parts of electronics. </p>

